.main-title-wrap span {
  font-size: 120px;
  font-weight: 700;
  color: #2C2A25;
  display: block;
  text-align: center;
}
.main-title-wrap .middle-line {
  width: 420px;
  height: 4px;
  margin: 0 auto;
  background-color: #2C2A25;
  margin-top: 32px;
}
.main-title-wrap h3 {
  font-size: 60px;
  font-weight: 600;
  color: #2C2A25;
  text-align: center;
  margin-top: 42px;
}

.brandstory-wrap {
  width: 100%;
  margin-top: 168px;
}
.brandstory-wrap .mission-wrap {
  width: 1200px;
  margin: 0 auto;
}
.brandstory-wrap .mission-wrap .mission-middle-wrap {
  margin-top: 86px;
}
.brandstory-wrap .mission-wrap .mission-middle-wrap p:nth-child(1) {
  font-size: 30px;
  font-weight: 400;
  color: #06262D;
  text-align: center;
}
.brandstory-wrap .mission-wrap .mission-middle-wrap p:nth-child(2) {
  font-size: 30px;
  font-weight: 400;
  color: #A7A7A7;
  text-align: center;
  margin-top: 32px;
}
.brandstory-wrap .mission-wrap .mission-contents-wrap {
  margin-top: 104px;
}
.brandstory-wrap .mission-wrap .mission-contents-wrap p {
  font-size: 28px;
  font-weight: 400;
  color: #2C2A25;
  text-align: center;
  line-height: 150%;
}
.brandstory-wrap .mission-wrap .mission-contents-wrap button {
  width: 400px;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 256px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #06262D;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}

.pros-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 354px;
}
.pros-wrap .pros-content-wrap {
  margin-top: 70px;
  display: flex;
}
.pros-wrap .pros-content-wrap .pros-content {
  width: 385px;
  height: 520px;
  background-color: #C0C1C1;
  border-radius: 15px;
  margin-left: 20px;
}
.pros-wrap .pros-content-wrap .pros-content :nth-child(1) {
  margin-left: 0px;
}
.pros-wrap .pros-content-wrap .pros-content .pros-img-wrap {
  width: 140px;
  height: 180px;
  margin: 0 auto;
  margin-top: 84px;
}
.pros-wrap .pros-content-wrap .pros-content .pros-img-wrap img {
  width: 100%;
}
.pros-wrap .pros-content-wrap .pros-content .pros-text-wrap h3 {
  font-size: 18px;
  font-weight: 700;
  color: #323E34;
  text-align: center;
  line-height: 150%;
  margin-top: 12px;
  padding: 20px;
}
.pros-wrap .pros-content-wrap .pros-content .pros-text-wrap p {
  font-size: 14px;
  font-weight: 400;
  color: #323E34;
  text-align: center;
  line-height: 150%;
  margin-top: 20px;
  padding: 10px;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(2) {
  background-color: #956F5A;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(2) .pros-text-wrap h3 {
  color: #FFF;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(2) .pros-text-wrap p {
  color: #FFF;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(3) {
  background-color: #0C262D;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(3) .pros-text-wrap h3 {
  color: #FFF;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(3) .pros-text-wrap p {
  color: #FFF;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(4) {
  background-color: #716D6C;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(4) .pros-text-wrap h3 {
  color: #FFF;
}
.pros-wrap .pros-content-wrap .pros-content:nth-child(4) .pros-text-wrap p {
  color: #FFF;
}

.certificate-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 326px;
}
.certificate-wrap .certificate-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 186px;
}
.certificate-wrap .certificate-content .certificate-text-wrap {
  width: 400px;
}
.certificate-wrap .certificate-content .certificate-text-wrap h4 {
  font-size: 32px;
  font-weight: 700;
  color: #1C1C1C;
  line-height: 150%;
}
.certificate-wrap .certificate-content .certificate-text-wrap p {
  font-size: 24px;
  font-weight: 300;
  color: #B5B5B5;
  line-height: 150%;
  margin-top: 46px;
}
.certificate-wrap .certificate-content .certificate-img-wrap {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.certificate-wrap .certificate-content .certificate-img-wrap img {
  width: 200px;
  float: right;
}
.certificate-wrap .certificate-content:nth-child(2n+1) .certificate-img-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.certificate-wrap .certificate-content:nth-child(2n+1) .certificate-img-wrap img {
  height: 100%;
  float: left;
}/*# sourceMappingURL=brandstory.css.map */