.contact-wrap{
    width: 100%;
    background-color:#EEECEA;
    padding-bottom: 42px;
}

.contact-wrap .contact-title-wrap{
    width:100%;
    text-align:center;
}
.contact-wrap .contact-title-wrap h3{
    font-size:24px;
    font-weight:600;
    color:#2C2A25;
    padding-top:78px;
}
.contact-wrap .contact-title-wrap p{
    width:60%;
    margin:0 auto;
    font-size:14px;
    font-weight:400;
    color: #2C2A25;
    margin-top:14px;
}

.contact-wrap form{
    width: 60%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}
.contact-wrap form input{
    height:50px;
    border:1px solid #A7A7A7;
    margin-top:20px;
    padding-left:4px;
}
.contact-wrap form input:nth-child(1){
    margin-top:30px;
}

.contact-wrap form textarea{
    height:285px;
    border:1px solid #A7A7A7;
    margin-top:20px;
}

.agree-wrap{
    width:60%;
    margin:0 auto;
    margin-top:24px;
}

.agree-wrap .agree-inner{
    display:flex;
    align-items:center;
    margin-top:8px;
}

.agree-wrap .agree-inner input[type='checkbox']{
    border:1px solid #A7A7A7;
}
.agree-wrap .agree-inner p{
    font-size:12px;
    font-weight:400;
    color:#A7A7A7;
    margin-left:12px;
}

.contact-wrap button{
    width:60%;
    height:44px;
    display:block;
    margin:0 auto;
    margin-top:24px;
    cursor:pointer;
    background-color:#06262D;
    border-radius:30px;
    font-size:13px;
    font-weight:700;
    color:#FFFFFF;
}