.main-wrap{
    width:1200px;
    height:2340px;
    margin:0 auto;
    .main-content-wrap{
        width:100%;
        display:flex;
        align-items: center;
        margin-top:252px;
        .main-img-wrap{
            width:580px;
            position:relative;
            img{
                width:100%;
            }
            .img-text-wrap{
                position:absolute;
                top:48%;
                left:50%;
                transform:translate(-50%,-50%);
                span{
                    font-size: 90px;
                    font-weight: 700;
                    color: #2C2A25;
                    display:block;
                    text-align:center;
                }
                .title-middle-line{
                    width:260px;
                    height:4px;
                    background-color:#2C2A25;
                    margin-top:10px;
                }
                h3{
                    font-size: 44px;
                    font-weight: 600;
                    text-align:center;
                    line-height: 140%;
                    margin-top:26px;
                }
            }
        }
        .middle-line{
            width: 4px;
            height: 480px;
            background-color: #2C2A25;
            margin-left:130px;
        }
        p{
            width:680px;
            margin-left: 130px;
            font-size: 20px;
            font-weight: 300;
            color: #000;
            line-height: 150%;
        }
    }
}